@import url(https://fonts.googleapis.com/css?family=Roboto:300,700);.bar {
  height: 1em; }

.bar-fill {
  height: 100%;
  max-width: 100%;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s; }

.bar-text {
  display: flex;
  justify-content: space-between; }
  .bar-text h4 {
    color: #fafafa;
    text-transform: capitalize; }

.remaining {
  background-color: deepskyblue; }
  .remaining .bar-fill {
    background-color: #0099cc; }

.correct {
  background-color: #34ff66; }
  .correct .bar-fill {
    background-color: #00e639; }

.incorrect {
  background-color: #ff3455; }
  .incorrect .bar-fill {
    background-color: #e60026; }

.progress-bar {
  width: 100%; }
  @media (max-width: 48em) {
    .progress-bar {
      width: 30%; } }
.sidebar {
  width: 15em;
  background: #333;
  font-weight: 100;
  padding: 1em;
  margin-right: 6em; }
  .sidebar h1 {
    color: #fcfcfc; }
  @media (max-width: 66em) {
    .sidebar {
      margin-right: 3em; } }
  @media (max-width: 48em) {
    .sidebar {
      display: inline-flex;
      justify-content: space-between;
      width: 100vw;
      margin: 0; }
      .sidebar .progress:not(:last-child) {
        margin-right: 1em; }
      .sidebar h1 {
        display: none; } }
.flashcard {
  width: 40em;
  padding: 3em;
  background-color: #fff; }
  .flashcard h3 {
    padding: 0 0 1.5em 0;
    margin: 0;
    font-size: 2em;
    font-weight: 100;
    border-bottom: 2px solid #ccc; }
  .flashcard .answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    height: 2em; }
    .flashcard .answer input {
      margin-right: 10%;
      width: 60%;
      height: 100%; }
    .flashcard .answer .btn {
      width: 30%;
      height: 120%;
      margin: 0;
      padding: 0; }
  .flashcard .btn {
    margin: 1rem;
    padding: .75em 2em;
    color: #eee;
    background-color: #0099cc;
    border: 2px solid #0099cc;
    outline: none;
    font-size: .9em;
    cursor: pointer;
    border-radius: 2px;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s; }
    .flashcard .btn:hover {
      background-color: #fff;
      color: #0099cc; }
  .flashcard small {
    position: relative;
    top: .3em; }
  @media (max-width: 66em) {
    .flashcard {
      width: 50%; }
      .flashcard .answer {
        display: inline-block;
        margin: 2em 0;
        height: 5em;
        position: relative;
        left: 50%;
        transform: translateX(-50%); }
        .flashcard .answer input, .flashcard .answer .btn {
          display: inline-block;
          width: 100%;
          margin: .7em 1em 0 0;
          height: auto;
          padding: .75em 2em; }
        .flashcard .answer input {
          padding: .8em; }
      .flashcard small {
        display: none;
        color: pink; } }
  @media (max-width: 48em) {
    .flashcard {
      width: 100vw; } }
.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .message p {
    font-size: 1.2em; }
* {
  box-sizing: border-box; }

body {
  background-color: #ddd;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 300; }

h1, h2, h3, h4 {
  font-weight: 100; }

.main {
  width: 65em;
  margin: 2em auto;
  display: flex;
  justify-content: center; }
  @media (max-width: 66em) {
    .main {
      width: 48em; } }
  @media (max-width: 48em) {
    .main {
      display: block;
      margin: 0;
      width: 100vw; } }
