.flashcard
  //15em for sidebar clearance, 2em for appearance
  //margin: 2em 0 0 20em
  width: 40em
  padding: 3em
  background-color: #fff

  h3
    padding: 0 0 1.5em 0
    margin: 0

    font-size: 2em
    font-weight: 100

    border-bottom: 2px solid #ccc

  .answer
    display: flex
    justify-content: space-between
    margin-top: 2em
    height: 2em
    input
      margin-right: 10%
      width: 60%
      height: 100%
    button
      width: 30%
      height: 100%
  small
    position: relative
    top: .3em

  @media(max-width: 66em)

    width: 50%
    .answer
      display: inline-block
      margin: 0 2em
      height: 5em

      input, button
        display: inline-block
        width: 100%
        margin: .7em 1em 0 1em
        height: auto
        padding: 1.2em
      input
        padding: .8em
    small
      display: none
      color: pink

  @media(max-width: 48em)
    width: 90vw
