.bar-text
  display: flex
  justify-content: space-between
.bar
  background-color: lighten(crimson, 30%)
  opacity: .7
  border: 1px solid crimson
  height: 1em
.bar-fill
  height: 100%
  width: 70%
  background-color: crimson
